.heading,.BtnG{
    text-align: center;
}

.firstBtn{
    margin: 10px;
    padding: 10px;
    font-size: 21px;
    border-radius: 25px;
    border: 1px solid black;
    background-color: none;
    background-color: #119b1c;
}

.secondBtn{
    margin: 10px;
    padding: 10px;
    font-size: 21px;
    border-radius: 25px;
    border: 1px solid black;
    background-color: none;
    background-color: #9b1111;
}
