.Input{
  width: 300px;
    height: 50px;
    border-radius: 25px;
    padding: 0px 20px;
}
.Btn{
  margin: 10px;
    padding: 12px;
    font-size: 12px;
    font-weight: bolder;
    border-radius: 25px;
    border: 1px solid black;
    background-color: none;
    background-color: #5a8b5e;
}
.Btn1{
  margin: 10px;
    color: white;
    padding: 12px;
    font-size: 12px;
    font-weight: bolder;
    border-radius: 25px;
    border: 1px solid black;
    background-color: none;
    background-color: #880e19;
}