.maindiv{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;

}
input{
    padding: 3px 20px;
    margin-top: 10px;
    color: black;
    border-radius: 20px;
    width: 225px;
    height: 30px;
    font-size: 16px;
    margin-right: 125px;
}
.inputclass{
    display: flex;
    justify-content: end;
    padding: 5px;
}
.yes{
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    display: flex;
    background-color: black;
}
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
width: 300px;
height: 350px;
  margin-top: 25px;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
    height: 50px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100px;
  font-size: 18px;
  border: 2px solid whitesmoke;
  border-radius: 25px;
}


a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}